 <div class="form-group">
     <label  data-ng-show="field.to.label.length > 0 && field.to.displayLabel" data-ng-class="{required: field.validation.required != undefined && field.validation.required}" for="{{ field.attrs.id }}">{{field.to.label}}</label>
        <span class="fr-toggle-extraInfo" data-ng-if="field.to.extraInfo.length > 0">
            <a data-ng-click="options.state.extraInfoCollapsed = !options.state.extraInfoCollapsed" >
                {{ options.state.extraInfoCollapsed ? 'Hulp nodig?' : 'Sluiten' }}
            </a>
        </span>
        <fr-transclude></fr-transclude>
    <span class="help-block">{{field.spec.extraOptions.extraInfo}}</span>
 </div>
<div fr-messages="field.validation.error"></div>
<small data-ng-show="field.to.shortDescription.length > 0 && field.state.editMode" data-ng-bind="field.to.shortDescription"></small>
<div class="fr-extraInfo" data-ng-show="field.to.extraInfo.length > 0 && !options.state.extraInfoCollapsed" data-ng-bind-html="field.to.extraInfo"></div>
