<div class="fr-field-state-read-wrapper" data-ng-show="!field.state.editMode">
    {{ngModelInit}} {{field.to.unit}}
    <a data-ng-click="field.toggleEditMode()" data-ng-if="field.state.showEditButton" href="">wijzigen</a>
</div>
<div class="fr-field-state-write-wrapper" data-ng-show="field.state.editMode">
    <div data-ng-class="{'fr-field-input-group': field.to.unit}">
         <div class="select">
            <select 
            fr-validation
            validation="field.validation"
            id="{{ field.attrs.id }}"
            name="{{ field.attrs.name }}"
            data-ng-model="ngModel"
            placeholder="{{ field.attrs.placeholder }}"
            data-ng-disabled="field.state.disabled"
            ng-options="option as option.label for option in field.spec.extraOptions.options track by option.key">
            </select>
        </div>
        <span ng-if="field.to.unit" class="fr-field-unit" ng-bind-html="field.to.unit"></span>
    </div>

    <a href="" ng-click="field.toggleEditMode()" data-ng-if="field.state.showEditButton">annuleren</a>
</div>
